body{
    background-color: $mainColor;
}
h5{
    font-family: $mainFont;
    font-weight: $bold;
    font-size: $lg;
    text-decoration: underline;
}
p{
    font-family: $mainFont;
    color: $secondaryColor;
    line-height: $lg;
}
.card-group{
    gap: 1rem;
    margin: 0.450rem;
}
footer{
    svg{
        color: black;
        width: 2rem;
        height: 1.493rem;
    }
    h4{
        text-decoration: underline;
        font-family: $mainFont;
        font-size: $md;
        font-weight: bolder;
    }
}