body{
    background-color: $mainColor; 
    header{
        img{
            width: 100%;
            height: auto;
        }
    }
    h1{
        font-size: $xl;
        font-weight: $bold;
        font-family: $mainFont;
        text-decoration: underline;
    }
}
